{
  "openapi": "3.0.3",
  "info": {
    "title": "Vulnerable SOAP Lab - REST JSON API",
    "version": "1.0.0",
    "description": "Intentionally vulnerable REST JSON API for authorized DAST/fuzzing demonstrations."
  },
  "servers": [
    {
      "url": "https://ca-rest-soap-labs.wonderfulcoast-2578bc9b.eastus.azurecontainerapps.io:443"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "required": [
          "refreshToken"
        ],
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "stock": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/api/login": {
      "post": {
        "summary": "Login and receive JWT, refresh token, and session id",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/refresh": {
      "post": {
        "summary": "Issue a new dynamic JWT using a reusable vulnerable refresh token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New JWT issued"
          },
          "401": {
            "description": "Refresh failed"
          }
        }
      }
    },
    "/api/validate": {
      "get": {
        "summary": "Validate bearer token using intentionally weak JWT validation",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Token accepted"
          },
          "401": {
            "description": "Token rejected"
          }
        }
      }
    },
    "/api/admin/products": {
      "get": {
        "summary": "Admin list products with prices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Product list"
          },
          "403": {
            "description": "Role forbidden"
          }
        }
      },
      "post": {
        "summary": "Admin create product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created"
          }
        }
      },
      "delete": {
        "summary": "Admin delete product by sku query parameter",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted"
          }
        }
      }
    },
    "/api/admin/products/push": {
      "post": {
        "summary": "Swagger-friendly alias for custom HTTP PUSH edit",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product edited"
          }
        }
      }
    },
    "/api/user/products": {
      "get": {
        "summary": "User list products without prices",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog list"
          }
        }
      },
      "post": {
        "summary": "User write attempt, expected to return 403",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "403": {
            "description": "Users can only GET"
          }
        }
      }
    },
    "/api/products/eletronico": {
      "get": {
        "summary": "Fuzzable electronics catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "Electronics product list"
          }
        }
      }
    },
    "/api/products/smarphone": {
      "get": {
        "summary": "Fuzzable smarphone catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "Smarphone product list"
          }
        }
      }
    },
    "/api/products/laptops": {
      "get": {
        "summary": "Fuzzable laptop catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "Laptop product list"
          }
        }
      }
    },
    "/api/products/books": {
      "get": {
        "summary": "Fuzzable books catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "Books product list"
          }
        }
      }
    },
    "/api/ecommerce/categories": {
      "get": {
        "summary": "E-commerce electronics categories stored in SQLite",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Category list"
          }
        }
      }
    },
    "/api/ecommerce/brands": {
      "get": {
        "summary": "E-commerce electronics brands stored in SQLite",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Brand list"
          }
        }
      }
    },
    "/api/ecommerce/deals": {
      "get": {
        "summary": "E-commerce deals and bundles",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Deals list"
          }
        }
      }
    },
    "/api/ecommerce/cart": {
      "get": {
        "summary": "E-commerce cart records",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Cart records"
          }
        }
      }
    },
    "/api/ecommerce/orders": {
      "get": {
        "summary": "E-commerce order records",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Order records"
          }
        }
      }
    },
    "/api/ecommerce/reviews": {
      "get": {
        "summary": "E-commerce product reviews",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Review records"
          }
        }
      }
    },
    "/api/ecommerce/warranty": {
      "get": {
        "summary": "E-commerce warranty plans",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Warranty records"
          }
        }
      }
    },
    "/api/ecommerce/shipping": {
      "get": {
        "summary": "E-commerce shipping options",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipping records"
          }
        }
      }
    },
    "/api/ecommerce/stores": {
      "get": {
        "summary": "E-commerce store pickup locations",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Store records"
          }
        }
      }
    },
    "/api/ecommerce/support": {
      "get": {
        "summary": "E-commerce support tickets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Support records"
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "Stored XSS comment form",
        "responses": {
          "200": {
            "description": "HTML comment form"
          }
        }
      },
      "post": {
        "summary": "Submit vulnerable comment",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML page reflecting stored comment without escaping"
          }
        }
      }
    },
    "/api/audit": {
      "get": {
        "summary": "Read HTTP/auth audit events",
        "responses": {
          "200": {
            "description": "Audit log"
          }
        }
      }
    },
    "/api/login-tracking": {
      "get": {
        "summary": "Read authentication tracking evidence",
        "responses": {
          "200": {
            "description": "Login and token tracking evidence"
          }
        }
      }
    }
  }
}
