{
  "openapi": "3.0.3",
  "info": {
    "title": "Vulnerable SOAP Lab - XML/SOAP API",
    "version": "1.0.0",
    "description": "Swagger-style documentation for the XML/SOAP attack lab. SOAPAction selects the operation."
  },
  "servers": [
    {
      "url": "https://ca-rest-soap-labs.wonderfulcoast-2578bc9b.eastus.azurecontainerapps.io:443"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/soap?wsdl": {
      "get": {
        "summary": "Download WSDL",
        "responses": {
          "200": {
            "description": "WSDL XML"
          }
        }
      }
    },
    "/soap": {
      "post": {
        "summary": "SOAP endpoint for protected business operations: GetAccount, TransferFunds, SearchUser, Logout",
        "description": "Do not use this endpoint for authentication. Use POST /soap/auth with SOAPAction Login, RefreshToken or ValidateToken.",
        "parameters": [
          {
            "name": "SOAPAction",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetAccount",
                "TransferFunds",
                "SearchUser",
                "Logout"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/xml": {
              "schema": {
                "type": "string"
              },
              "example": "<?xml version=\"1.0\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:lab=\"urn:soap-dast-lab\"><soap:Body><lab:GetAccount><lab:AccountId>9001</lab:AccountId></lab:GetAccount></soap:Body></soap:Envelope>"
            },
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SOAP XML response"
          },
          "401": {
            "description": "SOAP auth fault"
          }
        }
      }
    },
    "/soap/auth": {
      "post": {
        "summary": "Dedicated SOAP authentication endpoint for Login, RefreshToken and ValidateToken",
        "description": "Use this endpoint with SOAPAction Login to obtain AccessToken/RefreshToken, SOAPAction RefreshToken to reauthenticate, and SOAPAction ValidateToken to validate the current access token. All auth interactions are written to the audit log.",
        "parameters": [
          {
            "name": "SOAPAction",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Login",
                "RefreshToken",
                "ValidateToken"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/xml": {
              "schema": {
                "type": "string"
              },
              "example": "<?xml version=\"1.0\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:lab=\"urn:soap-dast-lab\"><soap:Body><lab:Login><lab:Username>admin_aurora</lab:Username><lab:Password>adminpass1</lab:Password></lab:Login></soap:Body></soap:Envelope>"
            },
            "application/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SOAP auth XML response"
          },
          "400": {
            "description": "Unsupported auth action"
          },
          "401": {
            "description": "SOAP auth fault"
          }
        }
      }
    },
    "/admin/products": {
      "get": {
        "summary": "XML admin product list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "XML response"
          }
        }
      },
      "post": {
        "summary": "XML admin create product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "XML response"
          }
        }
      },
      "delete": {
        "summary": "XML admin delete product",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "XML response"
          }
        }
      }
    },
    "/user/products": {
      "get": {
        "summary": "XML user product list",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "XML response"
          }
        }
      }
    },
    "/products/eletronico": {
      "get": {
        "summary": "XML electronics catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "XML catalog response"
          }
        }
      }
    },
    "/products/smarphone": {
      "get": {
        "summary": "XML smarphone catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "XML catalog response"
          }
        }
      }
    },
    "/products/laptops": {
      "get": {
        "summary": "XML laptop catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "XML catalog response"
          }
        }
      }
    },
    "/products/books": {
      "get": {
        "summary": "XML books catalog with SQL injection parameters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "XML catalog response"
          }
        }
      }
    },
    "/ecommerce/categories": {
      "get": {
        "summary": "XML e-commerce electronics categories stored in SQLite",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML category records"
          }
        }
      }
    },
    "/ecommerce/brands": {
      "get": {
        "summary": "XML e-commerce electronics brands stored in SQLite",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML brand records"
          }
        }
      }
    },
    "/ecommerce/deals": {
      "get": {
        "summary": "XML e-commerce deals and bundles",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML deal records"
          }
        }
      }
    },
    "/ecommerce/cart": {
      "get": {
        "summary": "XML e-commerce cart records",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML cart records"
          }
        }
      }
    },
    "/ecommerce/orders": {
      "get": {
        "summary": "XML e-commerce order records",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML order records"
          }
        }
      }
    },
    "/ecommerce/reviews": {
      "get": {
        "summary": "XML e-commerce product reviews",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML review records"
          }
        }
      }
    },
    "/ecommerce/warranty": {
      "get": {
        "summary": "XML e-commerce warranty plans",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML warranty records"
          }
        }
      }
    },
    "/ecommerce/shipping": {
      "get": {
        "summary": "XML e-commerce shipping options",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML shipping records"
          }
        }
      }
    },
    "/ecommerce/stores": {
      "get": {
        "summary": "XML e-commerce store pickup locations",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML store records"
          }
        }
      }
    },
    "/ecommerce/support": {
      "get": {
        "summary": "XML e-commerce support tickets",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "XML support records"
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "Stored/reflected XSS comment form",
        "responses": {
          "200": {
            "description": "HTML form"
          }
        }
      },
      "post": {
        "summary": "Submit vulnerable comment",
        "responses": {
          "200": {
            "description": "HTML response with unescaped stored comment"
          }
        }
      }
    },
    "/audit": {
      "get": {
        "summary": "XML audit log",
        "responses": {
          "200": {
            "description": "XML audit events"
          }
        }
      }
    },
    "/login-tracking": {
      "get": {
        "summary": "XML authentication tracking evidence",
        "responses": {
          "200": {
            "description": "Login and token tracking evidence"
          }
        }
      }
    }
  }
}
