{
  "openapi": "3.0.3",
  "info": {
    "title": "SOAP and REST DAST Lab - Focused XML/Catalog Surface",
    "version": "1.0.0",
    "description": "Focused OpenAPI document containing only /products, /products/*, /ecommerce, /ecommerce/*, and /comments."
  },
  "servers": [
    {
      "url": "https://ca-rest-soap-labs.wonderfulcoast-2578bc9b.eastus.azurecontainerapps.io"
    }
  ],
  "components": {
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "sku": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "stock": {
            "type": "integer"
          }
        }
      },
      "CatalogItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "value": {
            "type": "number"
          },
          "stock": {
            "type": "integer"
          },
          "promotion": {
            "type": "string",
            "enum": [
              "yes",
              "no"
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/products": {
      "get": {
        "summary": "List products",
        "description": "Primary product collection route for crawling and fuzzing.",
        "responses": {
          "200": {
            "description": "Product list response"
          }
        }
      },
      "post": {
        "summary": "Create product",
        "parameters": [
          {
            "name": "X-HTTP-Method-Override",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PUSH"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "sku-swg-001": {
                  "summary": "Create product SKU-SWG-001",
                  "value": "<product><sku>SKU-SWG-001</sku><name>Aurora Smart TV 55</name><price>2499.9</price><stock>8</stock></product>"
                },
                "sku-swg-002": {
                  "summary": "Create product SKU-SWG-002",
                  "value": "<product><sku>SKU-SWG-002</sku><name>Boreal Notebook Pro</name><price>5299.9</price><stock>5</stock></product>"
                },
                "sku-swg-003": {
                  "summary": "Create product SKU-SWG-003",
                  "value": "<product><sku>SKU-SWG-003</sku><name>Cosmos Smartphone 5G</name><price>3199.9</price><stock>12</stock></product>"
                },
                "sku-swg-004": {
                  "summary": "Create product SKU-SWG-004",
                  "value": "<product><sku>SKU-SWG-004</sku><name>Delta Wireless Headset</name><price>399.9</price><stock>20</stock></product>"
                },
                "sku-swg-005": {
                  "summary": "Create product SKU-SWG-005",
                  "value": "<product><sku>SKU-SWG-005</sku><name>Equinox Gaming Router</name><price>899.9</price><stock>7</stock></product>"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created"
          }
        }
      },
      "delete": {
        "summary": "Delete product by sku query parameter",
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product deleted"
          }
        }
      },
      "patch": {
        "summary": "Update product with PATCH",
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              },
              "examples": {
                "sku-swg-001": {
                  "summary": "Update product price SKU-SWG-001",
                  "value": "<product><sku>SKU-SWG-001</sku><name>Aurora Smart TV 55</name><price>2299.9</price><stock>8</stock></product>"
                },
                "sku-swg-002": {
                  "summary": "Update product price SKU-SWG-002",
                  "value": "<product><sku>SKU-SWG-002</sku><name>Boreal Notebook Pro</name><price>4999.9</price><stock>5</stock></product>"
                },
                "sku-swg-003": {
                  "summary": "Update product price SKU-SWG-003",
                  "value": "<product><sku>SKU-SWG-003</sku><name>Cosmos Smartphone 5G</name><price>2899.9</price><stock>12</stock></product>"
                },
                "sku-swg-004": {
                  "summary": "Update product price SKU-SWG-004",
                  "value": "<product><sku>SKU-SWG-004</sku><name>Delta Wireless Headset</name><price>349.9</price><stock>20</stock></product>"
                },
                "sku-swg-005": {
                  "summary": "Update product price SKU-SWG-005",
                  "value": "<product><sku>SKU-SWG-005</sku><name>Equinox Gaming Router</name><price>799.9</price><stock>7</stock></product>"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product patched"
          }
        }
      },
      "put": {
        "summary": "Replace product with PUT",
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              },
              "example": "<product><sku>SKU-SWG-001</sku><name>Aurora Smart TV 55</name><price>2499.9</price><stock>8</stock></product>"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product replaced"
          }
        }
      },
      "x-update": {
        "summary": "Custom HTTP UPDATE product edit",
        "description": "This route accepts the non-standard HTTP verb UPDATE with the same body used by PATCH.",
        "requestBody": {
          "example": "<product><sku>SKU-SWG-001</sku><name>Aurora Smart TV 55</name><price>2499.9</price><stock>8</stock></product>"
        },
        "responses": {
          "200": {
            "description": "Product updated by custom UPDATE verb"
          }
        }
      },
      "x-push": {
        "summary": "Custom HTTP PUSH product edit",
        "description": "This route accepts the non-standard HTTP verb PUSH with the same body used by PATCH.",
        "requestBody": {
          "example": "<product><sku>SKU-SWG-001</sku><name>Aurora Smart TV 55</name><price>2499.9</price><stock>8</stock></product>"
        },
        "responses": {
          "200": {
            "description": "Product updated by custom PUSH verb"
          }
        }
      },
      "x-accepted-verbs": [
        "GET",
        "POST",
        "PUSH",
        "PUT",
        "PATCH",
        "UPDATE",
        "DELETE",
        "HEAD",
        "OPTIONS"
      ],
      "head": {
        "summary": "HEAD metadata for /products",
        "description": "HEAD returns only response headers and no body. Use it for DAST verb discovery and metadata checks.",
        "responses": {
          "200": {
            "description": "Headers only; Content-Type is application/xml"
          },
          "404": {
            "description": "Route not found"
          }
        }
      },
      "options": {
        "summary": "OPTIONS verb discovery for /products",
        "description": "OPTIONS returns the Allow and Access-Control-Allow-Methods headers for verb discovery.",
        "responses": {
          "204": {
            "description": "Allow header lists: GET, POST, PUSH, PUT, PATCH, UPDATE, DELETE, HEAD, OPTIONS",
            "headers": {
              "Allow": {
                "description": "Methods accepted by this route",
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUSH, PUT, PATCH, UPDATE, DELETE, HEAD, OPTIONS"
              },
              "Access-Control-Allow-Methods": {
                "description": "CORS method discovery header",
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, PUSH, PUT, PATCH, UPDATE, DELETE, HEAD, OPTIONS"
              }
            }
          }
        }
      }
    },
    "/products/{category}": {
      "get": {
        "summary": "Fuzzable product catalog category",
        "description": "Wildcard-style replacement for /products/*. Existing categories include eletronico, smarphone, laptops, and books.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "eletronico",
                "smarphone",
                "laptops",
                "books"
              ]
            },
            "example": "eletronico"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "camera' OR '1'='1"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1 OR 1=1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "name; DROP TABLE products"
          },
          {
            "name": "promotion",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ]
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0 UNION SELECT username,password,1,1,1 FROM users"
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog product list"
          },
          "404": {
            "description": "Category not found"
          }
        }
      },
      "x-accepted-verbs": [
        "GET",
        "HEAD",
        "OPTIONS"
      ],
      "head": {
        "summary": "HEAD metadata for /products/{category}",
        "description": "HEAD returns only response headers and no body. Use it for DAST verb discovery and metadata checks.",
        "responses": {
          "200": {
            "description": "Headers only; Content-Type is application/xml"
          },
          "404": {
            "description": "Route not found"
          }
        }
      },
      "options": {
        "summary": "OPTIONS verb discovery for /products/{category}",
        "description": "OPTIONS returns the Allow and Access-Control-Allow-Methods headers for verb discovery.",
        "responses": {
          "204": {
            "description": "Allow header lists: GET, HEAD, OPTIONS",
            "headers": {
              "Allow": {
                "description": "Methods accepted by this route",
                "schema": {
                  "type": "string"
                },
                "example": "GET, HEAD, OPTIONS"
              },
              "Access-Control-Allow-Methods": {
                "description": "CORS method discovery header",
                "schema": {
                  "type": "string"
                },
                "example": "GET, HEAD, OPTIONS"
              }
            }
          }
        }
      }
    },
    "/ecommerce": {
      "get": {
        "summary": "List available e-commerce resources",
        "description": "Entry point for crawling /ecommerce/*. Resources include categories, brands, deals, cart, orders, reviews, warranty, shipping, stores, and support.",
        "responses": {
          "200": {
            "description": "E-commerce route index"
          }
        }
      },
      "x-accepted-verbs": [
        "GET",
        "HEAD",
        "OPTIONS"
      ],
      "head": {
        "summary": "HEAD metadata for /ecommerce",
        "description": "HEAD returns only response headers and no body. Use it for DAST verb discovery and metadata checks.",
        "responses": {
          "200": {
            "description": "Headers only; Content-Type is application/xml"
          },
          "404": {
            "description": "Route not found"
          }
        }
      },
      "options": {
        "summary": "OPTIONS verb discovery for /ecommerce",
        "description": "OPTIONS returns the Allow and Access-Control-Allow-Methods headers for verb discovery.",
        "responses": {
          "204": {
            "description": "Allow header lists: GET, HEAD, OPTIONS",
            "headers": {
              "Allow": {
                "description": "Methods accepted by this route",
                "schema": {
                  "type": "string"
                },
                "example": "GET, HEAD, OPTIONS"
              },
              "Access-Control-Allow-Methods": {
                "description": "CORS method discovery header",
                "schema": {
                  "type": "string"
                },
                "example": "GET, HEAD, OPTIONS"
              }
            }
          }
        }
      }
    },
    "/ecommerce/{resource}": {
      "get": {
        "summary": "Fuzzable e-commerce resource",
        "description": "Wildcard-style replacement for /ecommerce/*.",
        "parameters": [
          {
            "name": "resource",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "brands",
                "cart",
                "categories",
                "deals",
                "orders",
                "reviews",
                "shipping",
                "stores",
                "support",
                "warranty"
              ]
            },
            "example": "categories"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "orion' OR '1'='1"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "active"
          },
          {
            "name": "debug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "E-commerce records"
          },
          "404": {
            "description": "Resource not found"
          }
        }
      },
      "x-accepted-verbs": [
        "GET",
        "HEAD",
        "OPTIONS"
      ],
      "head": {
        "summary": "HEAD metadata for /ecommerce/{resource}",
        "description": "HEAD returns only response headers and no body. Use it for DAST verb discovery and metadata checks.",
        "responses": {
          "200": {
            "description": "Headers only; Content-Type is application/xml"
          },
          "404": {
            "description": "Route not found"
          }
        }
      },
      "options": {
        "summary": "OPTIONS verb discovery for /ecommerce/{resource}",
        "description": "OPTIONS returns the Allow and Access-Control-Allow-Methods headers for verb discovery.",
        "responses": {
          "204": {
            "description": "Allow header lists: GET, HEAD, OPTIONS",
            "headers": {
              "Allow": {
                "description": "Methods accepted by this route",
                "schema": {
                  "type": "string"
                },
                "example": "GET, HEAD, OPTIONS"
              },
              "Access-Control-Allow-Methods": {
                "description": "CORS method discovery header",
                "schema": {
                  "type": "string"
                },
                "example": "GET, HEAD, OPTIONS"
              }
            }
          }
        }
      }
    },
    "/comments": {
      "get": {
        "summary": "Stored and reflected XSS comment form",
        "parameters": [
          {
            "name": "preview",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "<script>alert(1)</script>"
          }
        ],
        "responses": {
          "200": {
            "description": "HTML comment form"
          }
        }
      },
      "post": {
        "summary": "Submit testable comment",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "security-tester"
                  },
                  "comment": {
                    "type": "string",
                    "example": "<script>alert('xss-lab')</script>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "HTML page reflecting stored comment without escaping"
          }
        }
      },
      "x-accepted-verbs": [
        "GET",
        "POST",
        "HEAD",
        "OPTIONS"
      ],
      "head": {
        "summary": "HEAD metadata for /comments",
        "description": "HEAD returns only response headers and no body. Use it for DAST verb discovery and metadata checks.",
        "responses": {
          "200": {
            "description": "Headers only; Content-Type is application/xml"
          },
          "404": {
            "description": "Route not found"
          }
        }
      },
      "options": {
        "summary": "OPTIONS verb discovery for /comments",
        "description": "OPTIONS returns the Allow and Access-Control-Allow-Methods headers for verb discovery.",
        "responses": {
          "204": {
            "description": "Allow header lists: GET, POST, HEAD, OPTIONS",
            "headers": {
              "Allow": {
                "description": "Methods accepted by this route",
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, HEAD, OPTIONS"
              },
              "Access-Control-Allow-Methods": {
                "description": "CORS method discovery header",
                "schema": {
                  "type": "string"
                },
                "example": "GET, POST, HEAD, OPTIONS"
              }
            }
          }
        }
      }
    }
  }
}
